* {
    color: #ececec;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;   
}

.app {
    background-color: #212121;
    display: flex;
    height: 100vh;    /* Lock the app to viewport height */
    overflow: hidden; /* This is crucial: it stops the whole page from scrolling */
    width: 100vw;
}